<div class="container-fluid position-relative">
  <div class="position-absolute start-0 float-card">
    <app-history [currentMarker]="currentMarker" *ngIf="currentMarker.length > 0"></app-history>
  </div>
  <div class="position-absolute end-0 float-card">
    <app-form [latitud]="latitud" [longitud]="longitud" (submit)="submit($event)"></app-form>
  </div>
    <agm-map
    class="maps"
    height="100vh"
    width="100vh"
    [latitude]="options.center.lat" 
    [longitude]="options.center.lng"
    [zoom]="options.zoom"
    (mapClick)="setLocation($event)"
    >
    <agm-marker *ngFor="let markerPosition of markerPositions"
    (markerClick)="clickedMarker(markerPosition)"
    [latitude]="markerPosition.position.lat" 
    [longitude]="markerPosition.position.lng">
  
  </agm-marker>
  
  <ng-container *ngFor="let markerPosition of markerPositions">
    <agm-polyline [strokeColor]="options.strokeColor">
      <agm-polyline-point *ngFor="let vertice of markerPosition.history"  [latitude]="vertice.lat" [longitude]="vertice.lng">
      </agm-polyline-point>
    </agm-polyline> 
  </ng-container>
  </agm-map>
</div>